body {
  margin: 0;
  font-family: sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  width: calc(100% - 120px);
  margin: auto;
}

/* HEADER */
.brand-logo h1 {
  font-weight: 300;
}

.brand-logo h1 span {
  font-weight: 600;
  color: #07cf6f;
}

.search-bar {
  margin-left: auto;
}

.header-item {
  padding-left: 5rem;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
}
.currentDetails,
.search-bar {
  display: flex;
}

.header-options {
  padding: 3px;
  border-radius: 3px;
}

.sign-in-button {
  background-color: transparent;
  border: none;
  font-size: inherit;
}

.header-search {
  padding: 9px;
  /* border-radius: 5px; */
  border: 1.75px solid black;
}

/* LISTING */
.listings-row {
  display: flex;
}

.listings-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  margin-left: 25px;
}

.listings-row-element {
  width: calc(33% - 17px);
  margin-top: 2rem;
}

.text-lower {
  padding: 0.6rem 0;
}
.text-lower span {
  color: rgb(84, 84, 84);
}

.image {
  height: 240px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.text h3 {
  font-weight: 400;
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.text span {
  font-size: 0.8em;
  font-weight: 300;
}

.rating {
  margin: auto 0 auto auto;
  height: 100%;
}
